/*
 *  Selector: .header
 * Tailwind: p-6 gap-x-4 h-full flex items-center bg-white border-b
 */
.header {
    padding: 1.5rem; /* p-6 */
    column-gap: 1rem; /* gap-x-4 */
    height: 100%; /* h-full */
    display: flex;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)); /* bg-white */
    border-bottom-width: 1px; /* border-b */
    border-style: solid;
}

/*
 *  Selector: .header > .header_menu
 * Tailwind: flex items-center gap-x-4 ml-auto
 */
.header > .header_menu {
    display: flex;
    align-items: center;
    column-gap: 1rem; /* gap-x-4 */
    margin-left: auto; /* ml-auto */
}

/*
 *  Selector: .header > .header_menu img
 * Tailwind: rounded-full
 */
.header > .header_menu img {
    border-radius: 9999px; /* rounded-full */
}
